.container {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
}

.wrap {
	flex-basis: 100%;
}

.full {
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
	padding: 10px;
	height: 250px;
	flex-direction: column;
	width: 300px;
	border-radius: 5px;
	user-select: none;
	background: #fff;
	color: #1565C0;
	box-shadow: 0 0 0 1px #1565C0;
}

.card {
	box-shadow: 0 0 0 1px #1565C0;
	margin: 15px;
	padding: 10px;
	width: 150px;
	border-radius: 5px;
	user-select: none;
	background: #1565C0;
	color: #fff;
}

.card:hover {
	box-shadow: 0 0 0 3px #1565C0;
}

.high {
	font-size: 40px;
}

.low {
	font-size: 32px;
}
