<div class="container" *ngIf="(weather$ | async) as weather">
	<div class="current">
		<div>{{weather.current.date}}</div>
		<span class="high">{{weather.current.temp}}&deg;</span>
		<div>{{weather.current.text}}</div>
	</div>
	<div class="wind">
		<div>Chill: {{weather.wind.chill}}</div>
		<div>Speed: {{weather.wind.speed}}</div>
	</div>
	<div class="atmosphere">
		<div>Humidity: {{weather.atmosphere.humidity}}</div>
		<div>Pressure: {{weather.atmosphere.pressure}}</div>
		<div>Visibility: {{weather.atmosphere.visibility}}</div>
	</div>
</div>
