<div class="progress">
	<mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
</div>

<div class="container">
	<mat-form-field class="city_input">
		<input matInput placeholder="Enter city" [errorStateMatcher]="matcher" [formControl]="cityInput" (keyup.enter)="getWeather(cityInput.value)">
		<mat-hint>For search press Enter</mat-hint>
		<mat-error *ngIf="cityInput.hasError('required')">Input city</mat-error>
		<mat-error *ngIf="cityInput.hasError('data')">{{cityInput.errors?.data}}</mat-error>
	</mat-form-field>

	<ng-container *ngIf="cityInput.valid">
		<h2 class="location" *ngIf="(location$ | async) as location">{{location.country}}, {{location.region}}, {{location.city}}</h2>
		<app-chart class="chart"></app-chart>
		<app-current class="current"></app-current>
		<app-cards class="cards"></app-cards>
	</ng-container>
</div>

<!--
<pre>error$: {{error$ | async | json}}</pre>
<pre>errors: {{cityInput.errors | json}}</pre>
<pre>status: {{cityInput.status | json}}</pre>
-->
