/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css?family=Roboto:300');
}

body {
	margin: 0;
}
